html
  head
    title Lista
  body
    
  p#benvenuto
    
  script(type='text/javascript').
    
    var liste = [], elementi = [];
    var cont = 0;
    var classP = 0;
    
    alert (someData);
        
    function addList() {
      liste.push(document.getElementById('nomeLista').value);
      
      document.getElementById('list').innerHTML = liste[cont];
      cont++;
    }

    function addElement() {
       elementi.push(document.getElementById('elementoLista').value);
       
       document.getElementById('litag').innerHTML = "";

       for (let cont = 0 ; cont < elementi.length ; cont++) {
           document.getElementById('litag').innerHTML += '<li>' + elementi[cont] + '</li>'
         }
     }
     
     function deleteItem() {
      let ele = document.getElementById('elimina').value;
      
      elementi.splice(ele, 1);
      
      document.getElementById('litag').innerHTML = "";

      for (let cont = 0 ; cont < elementi.length ; cont++) {
          document.getElementById('litag').innerHTML += '<li>' + elementi[cont] + '</li>'
        }
     }

  h1 Lista Utente
  
  input(type='text' placeholder='Nome lista' id='nomeLista')
  &nbsp;&nbsp;
  input(type='text' placeholder='Elemento lista' id='elementoLista') 
  &nbsp;&nbsp;
  input(type='button' value='Aggiungi Lista' onClick='addList()') 
  &nbsp;&nbsp;
  input(type='button' value='Aggiungi Elemento' onClick='addElement()') 
  
  br
  br
  
  input(type='text' placeholder='Numero elemento da eliminare' id='elimina') 
  &nbsp;&nbsp;
  input(type='button' value='Elimina' onClick='deleteItem()')

  h2#list
  
  ul#litag
