html

  head

    title Pagina di Accesso

  body

    form(action="http://127.0.0.1:8081/welcome" method="POST")

      p E-Mail
        input(type="text" name="mail")


      p Password
        input(type="password" name="password")

      br
      br

      input(type="submit" value="Accedi")
